*#*#
*.msi
*.so
*.wix*
*.wpo
*Infozam-win32-x64*
*data/
*drop.ss
*node_modules/
*testFiles/
*~
/Builds/
/Infozam.wxs
/InfozamInstaller.exe
/Resources/AppHelpers.boot
/Resources/convert.*
/Resources/csv951.dll
