<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name='Infozam' Id='164C9081-5FFA-417C-9D53-D8CA2E23069D' UpgradeCode='F8D96515-1C45-44AB-8562-111800F6CBE8'
           Language='1033' Codepage='1252' Version='1.1.1'
           Manufacturer='Beckman Coulter'>
    <Package Id='*' Keywords='Installer'
             Description="Installer for Infozam which is a program that can be used for database searching and log file conversion."
             Manufacturer='Beckman Coulter'
             InstallScope='perMachine'
             InstallerVersion='301' Languages='1033' Compressed='yes'
             SummaryCodepage='1252'/>
    <MajorUpgrade
        AllowDowngrades="no"
        DowngradeErrorMessage="A newer version is already installed."
        AllowSameVersionUpgrades="no" />
    <MediaTemplate EmbedCab="yes"/>
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='Beckman' Name='Beckman Coulter'>
          <Directory Id='INSTALLDIR' Name='Infozam'>
            <Component Id="InfozamComponent" Guid="*">
              <File Id="Infozam.exe" KeyPath="yes" Name="Infozam.exe"
                    Source="Infozam-win32-x64\Infozam.exe" />
              <Shortcut Id="InfozamShortcut1" Advertise="yes"
                        Directory="ProgramMenuFolder"
                        Name="Infozam"
			Icon="Infozam.exe" IconIndex="0"
                        WorkingDirectory="INSTALLDIR"/>
              <Shortcut Id="InfozamShortcut2" Advertise="yes"
                        Directory="DesktopFolder"
			Name="Infozam"
                        Icon="Infozam.exe" IconIndex="0"
                        WorkingDirectory="INSTALLDIR"/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs"/>
      <Directory Id="DesktopFolder" Name="Desktop"/>
    </Directory>
    <Feature Id='Complete' Level='1'>
      <ComponentRef Id="InfozamComponent"/>
      <ComponentGroupRef Id="Infozam"/>
    </Feature>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <UIRef Id="WixUI_Minimal" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <Icon Id="Infozam.exe" SourceFile="Infozam-win32-x64\Infozam.exe" />
  </Product>
</Wix>
